@media only screen and (max-width: 600px) {
  #homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: -200px;
  }

  #galleryPhotoDiv {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .galleryImg {
    width: 273px;
    height: 342px;
    object-fit: cover;
    border-radius: 8px;
  }
}
