@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-237px * 7)
    ); /* width of photos+gap * n of photos */
  }
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 20s linear infinite; /* Adjusted duration for smoother scrolling */
  display: flex;
  width: calc((221px + 16px) * 14); /* Adjusted for duplicated content */
  gap: 16px;
}

.slide-track .slide {
  flex: 0 0 221px;
}

#awardsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#awardsDiv > div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.awards {
  width: 160px;
}

.socialDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.socialIcon {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 600px) {
  #homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: -180px;
  }

  #galleryPhotoDiv {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .galleryImg {
    width: 273px;
    height: 342px;
    object-fit: cover;
    border-radius: 8px;
  }
}
