#nav {
  background-color: #fff7fe;
  height: 65px;
  width: 100%;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

#logo {
  width: 50px;
}

#links {
  display: flex;
  margin-right: 32px;
}

.navLink {
  margin-left: 24px;
}

/* * nav */
#nav {
  width: 100%;
  background: #fff7fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 48px;
  box-sizing: border-box;
  z-index: 1000;
}

.navBtn {
  color: #3b1d23;
  width: 32px;
}

.navLink {
  margin-right: 24px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
}

.navLink:hover {
  font-weight: 700;
}

#navLinks .navLink:last-child {
  margin-right: 0;
}

#navMobile {
  width: 100%;
  background: #fff7fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 32px;
  box-sizing: border-box;
  z-index: 1000;
}

#navContent {
  height: 100vh;
  width: 40%;
  padding: 24px 24px;
  border-radius: 8px;
  background: #f8d9de;
  z-index: 1001;
  position: absolute;
  top: 0px;
  right: -100%;
  position: fixed;
}

.navLinks2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  /* padding: 60px 0px; */
}

.line {
  width: 100%;
}

.btnMenu {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btnClose {
  margin-right: 12px;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
