.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.serviceBorder {
  display: inline-block;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid #b3abb2;
  height: fit-content;
}

.serviceBorder2 {
  display: flex;
  padding: 1px 42px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 2px solid #b3abb2;
  background: rgba(244, 216, 238, 0.2);
}
.serviceName {
  width: 200px;
  text-align: center;
}

.adorn1 {
  margin-top: -3px;
}

.adorn2 {
  transform: rotate(180deg);
  margin-bottom: -3px;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.serviceImg {
  width: 221px;
  height: 242px;
  border-radius: 8px;
  border: 2px solid #b3abb2;
  object-fit: cover;
}
