#nav {
  background-color: #f6dfe4;
  height: 65px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

#logo {
  width: 50px;
  margin-left: 32px;
}

#links {
  display: flex;
  margin-right: 32px;
}

.navLink {
  margin-left: 24px;
}
