@media only screen and (max-width: 600px) {
  #homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: -200px;
  }

  #galleryPhotoDiv {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .galleryImg {
    width: 273px;
    height: 342px;
    object-fit: cover;
    border-radius: 8px;
  }

  #contentServiceDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .serviceBorder {
    display: inline-block;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
    border-radius: 16px;
    border: 2px solid #b3abb2;
  }

  .serviceBorder2 {
    display: flex;
    padding: 1px 42px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: 2px solid #b3abb2;
    background: rgba(244, 216, 238, 0.2);
  }
  .serviceName {
    width: 200px;
    text-align: center;
  }

  .adorn1 {
    margin-top: -3px;
  }

  .adorn2 {
    transform: rotate(180deg);
    margin-bottom: -3px;
  }

  .serviceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .serviceImg {
    width: 221px;
    height: 242px;
    border-radius: 8px;
    border: 2px solid #b3abb2;
    object-fit: cover;
  }
}
