#nav {
  background-color: #fff7fe;
  height: 65px;
  width: 100%;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

#logo {
  width: 50px;
  margin-left: 32px;
}

#links {
  display: flex;
  margin-right: 32px;
}

.navLink {
  margin-left: 24px;
}
